.edit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.edit-section:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("/public/image/kawin-harasai-4PZN7fIqX3w-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 610px;
    margin: 0 auto;
    background: #ffffff7c;
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-form>div {
    width: 90%;
    margin-bottom: 10px;
}

.edit-form-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}

.edit-form-input {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form-button {

    text-align: center;
    background-color: orange;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;

}

.edit-form-button:hover {
    background-color: #0056b3;
}