/* DetailsRecipes.module.css */

.container-recipe-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;

}

.content-recipe-details {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  margin-top: 20px;
  text-align: center;
}

.recipe-details-information {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipe-details-info {
  margin-bottom: 10px;
}

.recipe-details-value {
  margin: 0;
  color: #333;
  font-size: 14px;
}

ul>.recipe-details-list {
  list-style-type: circle;
}

.raw {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
}

.link-style {
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.link-style:hover {
  background-color: #0056b3;
}


.container-dashboard:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;

}