.container-create-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container-create-recipe:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("/image/kawin-harasai-4PZN7fIqX3w-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.create-recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    /* Increase the max-width for better responsiveness */
    margin: 0 auto;
    background: #ffffff7c;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Use 100% width to make it responsive */
    height: auto;
    /* Allow the height to adjust based on content */

    /* Additional styles to handle smaller screens */
    @media (max-width: 500px) {
        max-width: 90%;
        /* Adjust max-width for smaller screens */
    }

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    margin: 0 auto;
    background: #ffffff7c;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 700px; */
}

.create-recipe-form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;

}

.create-recipe-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 8px;
}

/* .create-recipe-input {
    font-size: 16px;
    width: 360px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    letter-spacing: 1.5px;
}

.create-recipe-textarea {
    height: 300px;
    width: 360px;
    font-size: 16px;
    letter-spacing: 1.5px;
} */

.create-recipe-input,
.create-recipe-textarea {
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

.create-recipe-button {
    width: 100%;
    padding: 12px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;

    /* background-color: orange;
    color: #fff;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 360px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 20px; */
}

.create-recipe-button:hover {
    background-color: #0056b3;
}